body {
  font-family: monospace;
  line-height: 2;
  text-align: left;
  font-size: 16px;
  margin: 0;
  background-color: #313d43;
  color: gainsboro;
  letter-spacing: -0.3px;
  position: relative;
}

h2 {
  margin: unset;
  line-height: 1.4;
  margin-bottom: 15px;
}

i {
  font-size: 16px;
  font-weight: bold;
  color: burlywood;
}

select.select-lesson {
  width: max-content;
  border-radius: 5px;
  border: 1px solid powderblue;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

span {
  cursor: pointer;
}

.learn {
  color: burlywood;
  font-style: italic;
  border: 1px solid white;
  padding: 1px 5px;
  border-radius: 4px;
  font-weight: bold;
}

.conversation, .level2, .toeic-600-words, .easy-english, .english-speaking-course {
  display: none;
}

.tab {
  background-color: antiquewhite;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  margin-bottom: 20px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-right: 1px solid white;
  font-weight: bold;
  color: brown;
}

.tab button:last-child {
  border: none;
}

.tab button:hover {
  background-color: burlywood;
}

.tab button.active {
  background-color: burlywood;
  color: black;
}

.tab-content {
  display: none;
  padding: 0 8px 50px;
}

.audio-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  flex-direction: column;
}

.audio-wrapper button {
  border: 1px solid burlywood;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
}

.audio-speed, .audio-change {
  display: none;
  border: 1px solid powderblue;
  border-radius: 5px;
  padding: 3px;
  outline: none;
}

.audio-repeat, .audio-change, .audio-next {
  display: none;
}

audio {
  width: 100%;
}

.action {
  overflow: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  width: 100%;
}

.action::-webkit-scrollbar {
  display: none;
}

.disabled {
  pointer-events: none;
}

.btn-disabled {
  border: 1px solid burlywood;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
}

.pl-15 {
  margin: unset;
  display: inline;
  padding-left: 25px;
}

.fixed-div {
  position: fixed;
  margin: 0 auto;
  width: 98%;
  top: 0;
  left: 1%;
  z-index: 1;
}

.button-voca {
  border: 1px solid burlywood;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: 12px;
}

.speaker {
  display: inline-block;
  transform: translateY(2px);
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .action-scroll {
    justify-content: space-between;
  }
}