body {
    font-family: monospace;
    line-height: 2;
    padding: 6px;
    text-align: justify;
    font-size: 14px;
}

h2 {
    margin: unset;
}

b {
    color: blue;
    font-size: 16px;
    font-style: italic;
}

i {
    font-size: 16px;
    font-weight: bold;
    color: burlywood;
}